<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
   <h1>This is a html template</h1>

    {% if fruits %}
    <ul>
        {% for fruit in fruits %}
        <li>
            {{fruit}}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if names %}
        <ul>
            {% for name in names %}
            <li>
                {{name.firstname}} {{name.lastname}}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="/votes/next">Visit votes next</a>
</body>
</html>